*
{
    margin: 0;
}
#hello1
{
    
    background-color: red;
    font-size: larger;
    width: 100vw;
}
#hello2
{
   
    background-color: yellow;
    font-size: larger;
    width: 100vw;
}
#hello3
{
    
    background-color: pink;
    font-size: larger;
    width: 100vw;
}
.goodMorning
{
    background-color: purple;
    font-size: larger;
    color: white;
    width: 100vw;
}